#header {
    width: 100%;
    height: 43.75em;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.img-card-list-cust {
    height: 200px !important;
}

.font-600 {
    font-weight: 600;
}

.font-800 {
    font-weight: 800;
}

.font-200 {
    font-weight: 200;
    
}

.opacity-50 {
    opacity: 57%;
}

.navbar-custom-style {
    font-family: "Montserrat";
    font-weight: 500;
}

.navbar-nav-custom-style {
    margin-top: 0.8rem !important;
}

.position-card-service {
    left: 50% !important;
    bottom: -83% !important;
}

.position-banner-msg {
    position: absolute !important;
    left: 1% !important;
    bottom: 10% !important;
    background: rgba(255, 255, 255, 0.4000000059604645);
    opacity: 1;
    overflow: hidden;
    width: 28.9375em;
}

.msg-banner-1 {
    color: rgba(8, 8, 8, 1);
    font-family: Francois One;
    font-weight: Regular;
    font-size: 36px;
    text-align: left;
}

.msg-banner-2 {
    color: rgba(9, 9, 9, 1);
    font-family: Francois One;
    font-weight: Regular;
    font-size: 16px;
    text-align: left;
}

.stats-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.stats-box .stat-number {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.stats-box .stat-label {
    font-size: 1rem;
    color: #666;
}

.greenTea {
    color: rgba(189, 210, 182, 1);
}

.blueSea {
    color: #3FA2F6;
}

.bg-blue-sea {
    background-color: #3FA2F6 !important;
}

.bg-blue-sea-gradient {
    background-color: #52ACFF;
    background-image: linear-gradient(270deg, #52ACFF 30%, #FFE32C 80%);
}

.background-footer {
    /* background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="960" height="540" fill="%23FFFFFF"></rect><path d="M0 136L22.8 144C45.7 152 91.3 168 137 173C182.7 178 228.3 172 274 165.7C319.7 159.3 365.3 152.7 411.2 148.8C457 145 503 144 548.8 148.7C594.7 153.3 640.3 163.7 686 174.8C731.7 186 777.3 198 823 196.3C868.7 194.7 914.3 179.3 937.2 171.7L960 164L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="%23ffe32c"></path><path d="M0 109L22.8 114.5C45.7 120 91.3 131 137 137C182.7 143 228.3 144 274 140.3C319.7 136.7 365.3 128.3 411.2 128.7C457 129 503 138 548.8 144.2C594.7 150.3 640.3 153.7 686 154.8C731.7 156 777.3 155 823 155.2C868.7 155.3 914.3 156.7 937.2 157.3L960 158L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="%238cec7b"></path><path d="M0 97L22.8 100.5C45.7 104 91.3 111 137 108.7C182.7 106.3 228.3 94.7 274 98.8C319.7 103 365.3 123 411.2 123.3C457 123.7 503 104.3 548.8 104.7C594.7 105 640.3 125 686 132.5C731.7 140 777.3 135 823 130C868.7 125 914.3 120 937.2 117.5L960 115L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="%2300e2c6"></path><path d="M0 83L22.8 79.3C45.7 75.7 91.3 68.3 137 71.2C182.7 74 228.3 87 274 89C319.7 91 365.3 82 411.2 78.3C457 74.7 503 76.3 548.8 81.7C594.7 87 640.3 96 686 93C731.7 90 777.3 75 823 73.5C868.7 72 914.3 84 937.2 90L960 96L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="%2300cdf7"></path><path d="M0 56L22.8 51.7C45.7 47.3 91.3 38.7 137 35.7C182.7 32.7 228.3 35.3 274 34.5C319.7 33.7 365.3 29.3 411.2 33.5C457 37.7 503 50.3 548.8 55C594.7 59.7 640.3 56.3 686 55.2C731.7 54 777.3 55 823 51.5C868.7 48 914.3 40 937.2 36L960 32L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="%2352acff"></path></svg>');
    background-position: 0% 75%;
    background-size: cover; */

    background-color: #3FA2F6 ;
}

.spacing-content {
    margin-top: 8rem !important;
}

@media only screen and (max-width: 360px) {
    .position-banner-msg {
        position: absolute !important;
        bottom: 30% !important;
        background: rgba(255, 255, 255, 0.4000000059604645);
        opacity: 1;
        overflow: hidden;
        width: 20em;
    }
}

@media only screen and (max-width: 520px) {
    .position-banner-msg {
        position: absolute !important;
        bottom: 30% !important;
        background: rgba(255, 255, 255, 0.4000000059604645);
        opacity: 1;
        overflow: hidden;
        width: 25.5em;
    }

    .position-card-service {
        left: 50% !important;
        bottom: -99% !important;
    }
}

@media only screen and (max-width: 766px) {
    .position-banner-msg {
        position: absolute !important;
        bottom: 30% !important;
        background: rgba(255, 255, 255, 0.4000000059604645);
        opacity: 1;
        overflow: hidden;
        width: 25.5em;
    }

    .position-card-service {
        left: 50% !important;
        bottom: -99% !important;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px)  {
    .navbar-custom-style{
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
        text-align: center;
    }
     
}

.btn-grad-custome {
    background-image: linear-gradient(to right, #3FA2F6 0%, #DBD5A4  51%, #3FA2F6  100%)
}

.btn-grad-custome {
   margin: 10px;
   /* padding: 0.5em; */
   text-align: center;
   /* text-transform: uppercase; */
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad-custome:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }