#header {
    width: 100%;
    height: 43.75em;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.font-600 {
    font-weight: 600;
}

.font-800 {
    font-weight: 800;
}

.font-200 {
    font-weight: 200;
    
}

.opacity-50 {
    opacity: 57%;
}

.navbar-custom-style {
    font-family: "Montserrat";
    font-weight: 500;
}

.navbar-nav-custom-style {
    margin-top: 0.8rem !important;
}

.position-card-service {
    left: 50% !important;
    bottom: -83% !important;
}

.position-banner-msg {
    position: absolute !important;
    left: 1% !important;
    bottom: 10% !important;
    background: rgba(255, 255, 255, 0.4000000059604645);
    opacity: 1;
    overflow: hidden;
    width: 28.9375em;
}

.msg-banner-1 {
    color: rgba(8, 8, 8, 1);
    font-family: Francois One;
    font-weight: Regular;
    font-size: 36px;
    text-align: left;
}

.msg-banner-2 {
    color: rgba(9, 9, 9, 1);
    font-family: Francois One;
    font-weight: Regular;
    font-size: 16px;
    text-align: left;
}

.stats-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.stats-box .stat-number {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.stats-box .stat-label {
    font-size: 1rem;
    color: #666;
}

.greenTea {
    color: rgba(189, 210, 182, 1);
}

.background-footer {
    background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 2440 450" width="2440" height="450" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 170L58.2 183C116.3 196 232.7 222 348.8 244.5C465 267 581 286 697.2 269C813.3 252 929.7 199 1045.8 175.5C1162 152 1278 158 1394.2 174.2C1510.3 190.3 1626.7 216.7 1742.8 229.3C1859 242 1975 241 2091.2 244.2C2207.3 247.3 2323.7 254.7 2381.8 258.3L2440 262L2440 676L2381.8 676C2323.7 676 2207.3 676 2091.2 676C1975 676 1859 676 1742.8 676C1626.7 676 1510.3 676 1394.2 676C1278 676 1162 676 1045.8 676C929.7 676 813.3 676 697.2 676C581 676 465 676 348.8 676C232.7 676 116.3 676 58.2 676L0 676Z" fill="%23afb6af"></path><path d="M0 268L58.2 266.2C116.3 264.3 232.7 260.7 348.8 277.2C465 293.7 581 330.3 697.2 338.8C813.3 347.3 929.7 327.7 1045.8 306.8C1162 286 1278 264 1394.2 262.3C1510.3 260.7 1626.7 279.3 1742.8 290.5C1859 301.7 1975 305.3 2091.2 315C2207.3 324.7 2323.7 340.3 2381.8 348.2L2440 356L2440 676L2381.8 676C2323.7 676 2207.3 676 2091.2 676C1975 676 1859 676 1742.8 676C1626.7 676 1510.3 676 1394.2 676C1278 676 1162 676 1045.8 676C929.7 676 813.3 676 697.2 676C581 676 465 676 348.8 676C232.7 676 116.3 676 58.2 676L0 676Z" fill="%23a1aaa1"></path><path d="M0 456L58.2 458C116.3 460 232.7 464 348.8 455.5C465 447 581 426 697.2 423.2C813.3 420.3 929.7 435.7 1045.8 432C1162 428.3 1278 405.7 1394.2 393.2C1510.3 380.7 1626.7 378.3 1742.8 388.2C1859 398 1975 420 2091.2 410.3C2207.3 400.7 2323.7 359.3 2381.8 338.7L2440 318L2440 676L2381.8 676C2323.7 676 2207.3 676 2091.2 676C1975 676 1859 676 1742.8 676C1626.7 676 1510.3 676 1394.2 676C1278 676 1162 676 1045.8 676C929.7 676 813.3 676 697.2 676C581 676 465 676 348.8 676C232.7 676 116.3 676 58.2 676L0 676Z" fill="%23939e93"></path><path d="M0 438L58.2 433C116.3 428 232.7 418 348.8 418.3C465 418.7 581 429.3 697.2 437C813.3 444.7 929.7 449.3 1045.8 450.3C1162 451.3 1278 448.7 1394.2 464C1510.3 479.3 1626.7 512.7 1742.8 507.5C1859 502.3 1975 458.7 2091.2 435.8C2207.3 413 2323.7 411 2381.8 410L2440 409L2440 676L2381.8 676C2323.7 676 2207.3 676 2091.2 676C1975 676 1859 676 1742.8 676C1626.7 676 1510.3 676 1394.2 676C1278 676 1162 676 1045.8 676C929.7 676 813.3 676 697.2 676C581 676 465 676 348.8 676C232.7 676 116.3 676 58.2 676L0 676Z" fill="%23869285"></path><path d="M0 588L58.2 576C116.3 564 232.7 540 348.8 526.5C465 513 581 510 697.2 516.7C813.3 523.3 929.7 539.7 1045.8 549C1162 558.3 1278 560.7 1394.2 563.2C1510.3 565.7 1626.7 568.3 1742.8 558.8C1859 549.3 1975 527.7 2091.2 529.5C2207.3 531.3 2323.7 556.7 2381.8 569.3L2440 582L2440 676L2381.8 676C2323.7 676 2207.3 676 2091.2 676C1975 676 1859 676 1742.8 676C1626.7 676 1510.3 676 1394.2 676C1278 676 1162 676 1045.8 676C929.7 676 813.3 676 697.2 676C581 676 465 676 348.8 676C232.7 676 116.3 676 58.2 676L0 676Z" fill="%23798777"></path></svg>');
    background-position: 0% 75%;
    background-size: cover;
}

.spacing-content {
    margin-top: 8rem !important;
}

@media only screen and (max-width: 380px) {
    .position-banner-msg {
        position: absolute !important;
        bottom: 30% !important;
        background: rgba(255, 255, 255, 0.4000000059604645);
        opacity: 1;
        overflow: hidden;
        width: 22em;
    }
}

@media only screen and (max-width: 520px) {
    .position-banner-msg {
        position: absolute !important;
        bottom: 30% !important;
        background: rgba(255, 255, 255, 0.4000000059604645);
        opacity: 1;
        overflow: hidden;
        width: 25.5em;
    }

    .position-card-service {
        left: 50% !important;
        bottom: -99% !important;
    }
}

@media only screen and (max-width: 766px) {
    .position-banner-msg {
        position: absolute !important;
        bottom: 30% !important;
        background: rgba(255, 255, 255, 0.4000000059604645);
        opacity: 1;
        overflow: hidden;
        width: 25.5em;
    }

    .position-card-service {
        left: 50% !important;
        bottom: -99% !important;
    }
}