.nav-link.active {
    border-top: 1px solid #343a40 !important;
    border-left: 1px solid #343a40 !important;
    border-right: 1px solid #343a40 !important;
}

.card {
    border-radius: 0 !important;
}